{% extends 'base.html.twig' %}

{% block title %}Articles quest 7{% endblock %}

{% block body %}

    {% for article in articles |slice(0, 3) | reverse %}
    <div class="container">
        <div class="card">
            <h5 class="card-header">
                {{ article.title | title }} (id : {{ article.id }} )</h5>
            <div class="card-body">
                <h5 class="card-title">Category : <a href="{{ path('category_show', { 'name': article.category.name | lower }) }}" class="text-body">{{ article.category.name | title }}</a></h5>
                <p class="card-text">{{ article.content | raw }}</p>
            </div>
        </div>
    </div>
    </br></br>
    {% endfor %}


{% endblock %}



