{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    {% if app.user %}
        <a class="nav-item">Bonjour {{ app.user.email }} !</a>
    {% endif %}

    {{ app.session.get('total') }}

    <h1 class="text-center">All articles: </h1>
    {% for article in articles %}
        <div class="container">
            <div class="card">
                <h5 class="card-header">{{ loop.index }} / <a href="{{ path('article_show', {'id': article.id }) }}">{{ article.title | title }}</a></h5>
                <div class="card-body">
                    <h5 class="card-title">Category : <a href="{{ path('category_show', { 'name': article.category.name | lower }) }}" class="text-body">{{ article.category.name }}</a></h5>
                    <p class="card-text">{{ article.content | raw }}</p>
                    <p class="card-text">{% for tag in article.tags %}
                    <li>{{ tag.name }} </li>
                    {% else %}
                    <li>No tags for this article</li>
                    {% endfor %}</p>
                </div>
            </div>
        </div>
    </br></br>


    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <a href="{{ path('homepage') }}">
      Back to homepage.
    </a>

{% endblock %}


