<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{{ path('homepage') }}">Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="{{ path('homepage') }}">Home<span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="{{ path('blog_index') }}">All articles</a>
              {% if is_granted('ROLE_AUTHOR') %}<a class="nav-item nav-link" href="{{ path('article_index') }}">CRUD</a>
              <a class="nav-item nav-link" href="{{ path('add_category') }}">Add Category</a>
              <a class="nav-item nav-link" href="{{ path('article_new') }}">New article</a>
              {% endif %}
              {% if app.user %}
              <a class="nav-item nav-link" href="{{ path('app_logout') }}"> Logout</a>
              {% else %}
              <a class="nav-item nav-link" href="{{ path('app_login') }}"> Login</a>
              {% endif %}

            </div>
          </div>
        </nav>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
